In [1]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series()
print(s)
print(type(s))

Series([], dtype: float64)
<class 'pandas.core.series.Series'>

In [5]:
#Create a series from ndarray
data = np.array(['a','b','e','d'])
s = pd.Series(data)
print(data,'\n')
print(s)

['a' 'b' 'e' 'd']

0    a
1    b
2    e
3    d
dtype: object

In [6]:
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,'a','102','b'])
print(s)

100    a
a      b
102    c
b      d
dtype: object

In [10]:
data={'a':0,'b':1,'c':2}
s = pd.Series(data,dtype=np.int32)
print(s)
print(s[1])

a    0
b    1
c    2
dtype: int32
1

In [11]:
data={'a':0,'b':1,'c':2}
s = pd.Series(data,index=['b','c','d','a'])
print(s)
print(s['a'])

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64
0.0

In [12]:
s = pd.Series(4,index=[0,1,2,3])
print(s)

0    4
1    4
2    4
3    4
dtype: int64

Accessing Data from Series with Positions

In [13]:
s = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [14]:
print(s[0])

1

In [15]:
print(s[:3])

a    1
b    2
c    3
dtype: int64

In [16]:
print(s[-3:])

c    3
d    4
e    5
dtype: int64

In [17]:
print(s['a'])

1

In [22]:
print(s[['a','b','c']])#elements put in a list then accessed cause mutiple values being accessed
print(s['a':'c'])

a    1
b    2
c    3
dtype: int64
a    1
b    2
c    3
dtype: int64

In [23]:
print(s['f'])

KeyError: 'f'

# DataFrame

In [24]:
data=[1,2,3,4,5]
df = pd.DataFrame(data)
print(df)
print(type(df))

   0
0  1
1  2
2  3
3  4
4  5
<class 'pandas.core.frame.DataFrame'>

In [30]:
data=[['Andrew',10],['Lisa',13]]
df = pd.DataFrame(data)
df= pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0  Andrew   10
1    Lisa   13

In [33]:
data = {'Name':['Phoebe','Ross','Joey','Monica','Rachel'],'Age':[30,17,12,32,31]}
df = pd.DataFrame(data,index= [1,2,3,4,5])
print(df)

     Name  Age
1  Phoebe   30
2    Ross   17
3    Joey   12
4  Monica   32
5  Rachel   31

In [34]:
print(df['Name'])

1    Phoebe
2      Ross
3      Joey
4    Monica
5    Rachel
Name: Name, dtype: object

Create from a list of dictionary

In [35]:
data = [{'a':10,'b':20},{'a':15,'b':25,'c':35}]
df = pd.DataFrame(data)
print(df)

    a   b     c
0  10  20   NaN
1  15  25  35.0

In [36]:
data = [{'a':10,'b':20},{'a':15,'b':25,'c':35}]
df = pd.DataFrame(data,index=['Primary','Secondary'])
print(df)

            a   b     c
Primary    10  20   NaN
Secondary  15  25  35.0

In [37]:
df1 = pd.DataFrame(data,index=['Primary','Secondary'],columns=['b','a'])
print(df1)

            b   a
Primary    20  10
Secondary  25  15

In [39]:
df2 = pd.DataFrame(data,index=['Primary','Secondary'],columns=['a','b1'])
print(df2)

            a  b1
Primary    10 NaN
Secondary  15 NaN

In [45]:
#create a dataframe from a  dict of series
d={'one':pd.Series([1,2,3],index=['a','b','c']),
  'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

Column Selection

In [46]:
print("adding a new column by passing a series")
df['three']= pd.Series([10,20,30],index=['a','b','e'])
print(df)

adding a new column by passing a series
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3    NaN
d  NaN    4    NaN

In [47]:
print("Add new column using existing columns in the data frame")
df['four'] = df['one'] + df['three']
print(df)

Add new column using existing columns in the data frame
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3    NaN   NaN
d  NaN    4    NaN   NaN

Column Deletion

In [48]:
del(df['one'])
print(df)

   two  three  four
a    1   10.0  11.0
b    2   20.0  22.0
c    3    NaN   NaN
d    4    NaN   NaN

In [49]:
x = df.pop('two')
print(x)
print(df)

a    1
b    2
c    3
d    4
Name: two, dtype: int64
   three  four
a   10.0  11.0
b   20.0  22.0
c    NaN   NaN
d    NaN   NaN

Row Selection, Addition and Deletion

In [52]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
  'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df)
print('\n')
print(df.loc['b'])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4


one    2.0
two    2.0
Name: b, dtype: float64

In [56]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
  'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df)
print(df.iloc[1])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
one    2.0
two    2.0
Name: b, dtype: float64

In [57]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
  'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df[2:4])

   one  two
c  3.0    3
d  NaN    4

Addition of dfs

In [67]:
df=pd.DataFrame([[1,2],[3,4]],columns=['a','b'])
df2=pd.DataFrame([[5,6],[7,8]],columns=['b','d'])
print(df)

   a  b
0  1  2
1  3  4

In [68]:
print(df2)

   b  d
0  5  6
1  7  8

In [69]:
d3 = df.join(df2,lsuffix='1')
print(d3,'\n')

   a  b1  b  d
0  1   2  5  6
1  3   4  7  8

In [71]:
d4 = df2.join(df,lsuffix='1')
print(d4)

   b1  d  a  b
0   5  6  1  2
1   7  8  3  4

In [77]:
df=pd.DataFrame([[1,2],[3,4]],columns=['a','b'])
df2=pd.DataFrame([[5,6],[7,8]],columns=['c','d'])

In [78]:
df3 = df.append(df2, sort=True)
print(df3)

     a    b    c    d
0  1.0  2.0  NaN  NaN
1  3.0  4.0  NaN  NaN
0  NaN  NaN  5.0  6.0
1  NaN  NaN  7.0  8.0

In [79]:
df = df.drop(0)
print(df)

   a  b
1  3  4

# Missing Data

In [84]:
df = pd.DataFrame(4,index=['a','c','e','f','h'],columns=['one','two','three'])
print(df,'\n\n')
df = df.reindex(['a','b','c','d','e','f','g','h'])
print(df)

   one  two  three
a    4    4      4
c    4    4      4
e    4    4      4
f    4    4      4
h    4    4      4


   one  two  three
a  4.0  4.0    4.0
b  NaN  NaN    NaN
c  4.0  4.0    4.0
d  NaN  NaN    NaN
e  4.0  4.0    4.0
f  4.0  4.0    4.0
g  NaN  NaN    NaN
h  4.0  4.0    4.0

Checking for min values

In [85]:
print(df['one'].isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [86]:
print(df['one'].isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [87]:
df.isnull().sum()

one      3
two      3
three    3
dtype: int64

In [88]:
print(df['one'].sum())

20.0

In [89]:
df_NAN = pd.DataFrame(index=[1,2,3,4,5],columns=['one','two'])
print(df_NAN)

   one  two
1  NaN  NaN
2  NaN  NaN
3  NaN  NaN
4  NaN  NaN
5  NaN  NaN

In [95]:
df=pd.DataFrame(np.random.rand(5,3),index=['a','e','c','f','h'],columns=['one','two','three'])
print(df,'\n \n')
df = df.reindex(['l','a','b','c','d','e','f','g','h'])
print(df)

        one       two     three
a  0.005407  0.414299  0.908323
e  0.482147  0.822055  0.920317
c  0.997974  0.685610  0.351525
f  0.385494  0.920236  0.746963
h  0.040261  0.338213  0.612280


        one       two     three
l       NaN       NaN       NaN
a  0.005407  0.414299  0.908323
b       NaN       NaN       NaN
c  0.997974  0.685610  0.351525
d       NaN       NaN       NaN
e  0.482147  0.822055  0.920317
f  0.385494  0.920236  0.746963
g       NaN       NaN       NaN
h  0.040261  0.338213  0.612280

In [97]:
print(df.fillna(10))

         one        two      three
l  10.000000  10.000000  10.000000
a   0.005407   0.414299   0.908323
b  10.000000  10.000000  10.000000
c   0.997974   0.685610   0.351525
d  10.000000  10.000000  10.000000
e   0.482147   0.822055   0.920317
f   0.385494   0.920236   0.746963
g  10.000000  10.000000  10.000000
h   0.040261   0.338213   0.612280

In [98]:
print(df.fillna(method='backfill'))

        one       two     three
l  0.005407  0.414299  0.908323
a  0.005407  0.414299  0.908323
b  0.997974  0.685610  0.351525
c  0.997974  0.685610  0.351525
d  0.482147  0.822055  0.920317
e  0.482147  0.822055  0.920317
f  0.385494  0.920236  0.746963
g  0.040261  0.338213  0.612280
h  0.040261  0.338213  0.612280

In [100]:
print(df.fillna(method='ffill'))

        one       two     three
l       NaN       NaN       NaN
a  0.005407  0.414299  0.908323
b  0.005407  0.414299  0.908323
c  0.997974  0.685610  0.351525
d  0.997974  0.685610  0.351525
e  0.482147  0.822055  0.920317
f  0.385494  0.920236  0.746963
g  0.385494  0.920236  0.746963
h  0.040261  0.338213  0.612280

In [101]:
df

        one       two     three
l       NaN       NaN       NaN
a  0.005407  0.414299  0.908323
b       NaN       NaN       NaN
c  0.997974  0.685610  0.351525
d       NaN       NaN       NaN
e  0.482147  0.822055  0.920317
f  0.385494  0.920236  0.746963
g       NaN       NaN       NaN
h  0.040261  0.338213  0.612280

In [103]:
df=pd.DataFrame(np.random.rand(5,3),index=['a','e','c','f','h'],columns=['one','two','three'])
df = df.reindex(['l','a','b','c','d','e','f','g','h'])
#drop all rows with NAN
print(df,'\n')
print(df.dropna(),'\n')
print(df,'\n')
print(df.dropna(axis=0))

        one       two     three
l       NaN       NaN       NaN
a  0.702631  0.736128  0.334175
b       NaN       NaN       NaN
c  0.296556  0.563501  0.073194
d       NaN       NaN       NaN
e  0.654596  0.300523  0.838391
f  0.623773  0.026918  0.070020
g       NaN       NaN       NaN
h  0.181413  0.150419  0.163229

        one       two     three
a  0.702631  0.736128  0.334175
c  0.296556  0.563501  0.073194
e  0.654596  0.300523  0.838391
f  0.623773  0.026918  0.070020
h  0.181413  0.150419  0.163229

        one       two     three
l       NaN       NaN       NaN
a  0.702631  0.736128  0.334175
b       NaN       NaN       NaN
c  0.296556  0.563501  0.073194
d       NaN       NaN       NaN
e  0.654596  0.300523  0.838391
f  0.623773  0.026918  0.070020
g       NaN       NaN       NaN
h  0.181413  0.150419  0.163229

        one       two     three
a  0.702631  0.736128  0.334175
c  0.296556  0.563501  0.073194
e  0.654596  0.300523  0.838391
f  0.623773  0.026918  0.070020
h  0.181413  0.150419  0.163229

In [104]:
#drop all columns with NAN
print(df.dropna(axis=1))

Empty DataFrame
Columns: []
Index: [l, a, b, c, d, e, f, g, h]

In [105]:
df = pd.DataFrame({'one': [10,20,30,40,50,2000],
                  'two': [1000,20,0,30,45,60]})
print(df,'\n')
x = df.replace({1000:10,2000:2})
print(x)

    one   two
0    10  1000
1    20    20
2    30     0
3    40    30
4    50    45
5  2000    60

   one  two
0   10   10
1   20   20
2   30    0
3   40   30
4   50   45
5    2   60

In [113]:
d = pd.read_csv('test.csv')

In [114]:
print(d)

   1  aa  a1
0  2  bb  b2
1  3  cc  c3
2  4  dd  d4

In [133]:
df_new

   1  aa  a1
0  2  bb  b2
1  3  cc  c3
2  4  dd  d4

In [134]:
df_new = pd.DataFrame(d)

In [135]:
test_df = pd.read_csv('new2.txt')

In [136]:
test_df

   1.aa.a1
0  2.bb.b2
1  3.cc.c3
2  4.dd.d5

In [138]:
t2 = pd.read_csv('new2.txt',sep='.')
t2

   1  aa  a1
0  2  bb  b2
1  3  cc  c3
2  4  dd  d5