In [54]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [55]:
# importing the dataset
data = pd.read_csv('Data.csv')

In [56]:
data

   Country  Age  Salary Purchased
0   France   44   72000        No
1    Spain   27   48000       Yes
2  Germany   30   54000        No
3    Spain   38   61000        No
4  Germany   40   57220       Yes
5   France   35   58000       Yes
6    Spain   33   52000        No
7   France   48   79000       Yes
8  Germany   50   83000        No
9   France   37   67000       Yes

In [57]:
#Importing the dataset
x=data.iloc[:,:-1]
y=data.iloc[:,-1]

In [58]:
x

   Country  Age  Salary
0   France   44   72000
1    Spain   27   48000
2  Germany   30   54000
3    Spain   38   61000
4  Germany   40   57220
5   France   35   58000
6    Spain   33   52000
7   France   48   79000
8  Germany   50   83000
9   France   37   67000

In [59]:
y

0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object

In [60]:
# Categorical data
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
labelencoder_x = LabelEncoder()
x.iloc[:,0] = labelencoder_x.fit_transform(x.iloc[:,0])
onehotencoder = OneHotEncoder(categorical_features=[0])
x = onehotencoder.fit_transform(x).toarray()

/home/adnan/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/adnan/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [61]:
x

array([[1.000e+00, 0.000e+00, 0.000e+00, 4.400e+01, 7.200e+04],
       [0.000e+00, 0.000e+00, 1.000e+00, 2.700e+01, 4.800e+04],
       [0.000e+00, 1.000e+00, 0.000e+00, 3.000e+01, 5.400e+04],
       [0.000e+00, 0.000e+00, 1.000e+00, 3.800e+01, 6.100e+04],
       [0.000e+00, 1.000e+00, 0.000e+00, 4.000e+01, 5.722e+04],
       [1.000e+00, 0.000e+00, 0.000e+00, 3.500e+01, 5.800e+04],
       [0.000e+00, 0.000e+00, 1.000e+00, 3.300e+01, 5.200e+04],
       [1.000e+00, 0.000e+00, 0.000e+00, 4.800e+01, 7.900e+04],
       [0.000e+00, 1.000e+00, 0.000e+00, 5.000e+01, 8.300e+04],
       [1.000e+00, 0.000e+00, 0.000e+00, 3.700e+01, 6.700e+04]])

In [ ]:
from sklearn.preprocessing